<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.endata.springboot.mapper.EnvirMapper">
  <resultMap id="BaseResultMap" type="com.endata.springboot.model.Envir">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="city_code" jdbcType="INTEGER" property="cityCode" />
    <result column="city_name" jdbcType="VARCHAR" property="cityName" />
    <result column="dot_name" jdbcType="VARCHAR" property="dotName" />
    <result column="SO2" jdbcType="REAL" property="so2" />
    <result column="NO2" jdbcType="REAL" property="no2" />
    <result column="CO" jdbcType="REAL" property="co" />
    <result column="PM2_5" jdbcType="REAL" property="pm25" />
    <result column="O3" jdbcType="REAL" property="o3" />
    <result column="date" jdbcType="TIMESTAMP" property="date" />
  </resultMap>
  <sql id="Base_Column_List">
    id, city_code, city_name, dot_name, SO2, NO2, CO, PM2_5, O3, date
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from envir
    where id = #{id,jdbcType=INTEGER}
  </select>
  <!-- # 环境监测点位获取(管理员)-->
  <select id="getEnvirData" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from envir
    where city_code = #{cityCode,jdbcType=INTEGER}
  </select>



  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from envir
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.endata.springboot.model.Envir">
    insert into envir (id, city_code, city_name, 
      dot_name, SO2, NO2, CO, 
      PM2_5, O3, date)
    values (#{id,jdbcType=INTEGER}, #{cityCode,jdbcType=INTEGER}, #{cityName,jdbcType=VARCHAR}, 
      #{dotName,jdbcType=VARCHAR}, #{so2,jdbcType=REAL}, #{no2,jdbcType=REAL}, #{co,jdbcType=REAL}, 
      #{pm25,jdbcType=REAL}, #{o3,jdbcType=REAL}, #{date,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.endata.springboot.model.Envir">
    insert into envir
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="cityCode != null">
        city_code,
      </if>
      <if test="cityName != null">
        city_name,
      </if>
      <if test="dotName != null">
        dot_name,
      </if>
      <if test="so2 != null">
        SO2,
      </if>
      <if test="no2 != null">
        NO2,
      </if>
      <if test="co != null">
        CO,
      </if>
      <if test="pm25 != null">
        PM2_5,
      </if>
      <if test="o3 != null">
        O3,
      </if>
      <if test="date != null">
        date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="cityCode != null">
        #{cityCode,jdbcType=INTEGER},
      </if>
      <if test="cityName != null">
        #{cityName,jdbcType=VARCHAR},
      </if>
      <if test="dotName != null">
        #{dotName,jdbcType=VARCHAR},
      </if>
      <if test="so2 != null">
        #{so2,jdbcType=REAL},
      </if>
      <if test="no2 != null">
        #{no2,jdbcType=REAL},
      </if>
      <if test="co != null">
        #{co,jdbcType=REAL},
      </if>
      <if test="pm25 != null">
        #{pm25,jdbcType=REAL},
      </if>
      <if test="o3 != null">
        #{o3,jdbcType=REAL},
      </if>
      <if test="date != null">
        #{date,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.endata.springboot.model.Envir">
    update envir
    <set>
      <if test="cityCode != null">
        city_code = #{cityCode,jdbcType=INTEGER},
      </if>
      <if test="cityName != null">
        city_name = #{cityName,jdbcType=VARCHAR},
      </if>
      <if test="dotName != null">
        dot_name = #{dotName,jdbcType=VARCHAR},
      </if>
      <if test="so2 != null">
        SO2 = #{so2,jdbcType=REAL},
      </if>
      <if test="no2 != null">
        NO2 = #{no2,jdbcType=REAL},
      </if>
      <if test="co != null">
        CO = #{co,jdbcType=REAL},
      </if>
      <if test="pm25 != null">
        PM2_5 = #{pm25,jdbcType=REAL},
      </if>
      <if test="o3 != null">
        O3 = #{o3,jdbcType=REAL},
      </if>
      <if test="date != null">
        date = #{date,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.endata.springboot.model.Envir">
    update envir
    set city_code = #{cityCode,jdbcType=INTEGER},
      city_name = #{cityName,jdbcType=VARCHAR},
      dot_name = #{dotName,jdbcType=VARCHAR},
      SO2 = #{so2,jdbcType=REAL},
      NO2 = #{no2,jdbcType=REAL},
      CO = #{co,jdbcType=REAL},
      PM2_5 = #{pm25,jdbcType=REAL},
      O3 = #{o3,jdbcType=REAL},
      date = #{date,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>