<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.endata.springboot.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.endata.springboot.model.User">
    <id column="userId" jdbcType="INTEGER" property="userid" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="password" jdbcType="VARCHAR" property="password" />
  </resultMap>

  <sql id="Base_Column_List">
    userId, user_name, password
  </sql>

  <!--查询所有用户-->
  <select id="getAllUser"  resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from user
  </select>

  <!--登录实现-->
  <select id="login" parameterType="com.endata.springboot.model.User" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from user t where t.user_name =#{userName,jdbcType=VARCHAR} and t.password = #{password,jdbcType=VARCHAR}
  </select>


  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from user
    where userId = #{userid,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user
    where userId = #{userid,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="com.endata.springboot.model.User">
    insert into user (userId, user_name, password
      )
    values (#{userid,jdbcType=INTEGER}, #{userName,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}
      )
  </insert>

  <insert id="insertSelective" parameterType="com.endata.springboot.model.User">
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userid != null">
        userId,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="password != null">
        password,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userid != null">
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.endata.springboot.model.User">
    update user
    <set>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
    </set>
    where userId = #{userid,jdbcType=INTEGER}
  </update>

  <update id="updateByPrimaryKey" parameterType="com.endata.springboot.model.User">
    update user
    set user_name = #{userName,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR}
    where userId = #{userid,jdbcType=INTEGER}
  </update>

</mapper>