<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.endata.springboot.mapper.WaterMapper">
  <resultMap id="BaseResultMap" type="com.endata.springboot.model.Water">
    <result column="city_code" jdbcType="INTEGER" property="cityCode" />
    <result column="city_name" jdbcType="VARCHAR" property="cityName" />
    <result column="Cw" jdbcType="REAL" property="cw" />
    <result column="IRw" jdbcType="REAL" property="irw" />
    <result column="EF" jdbcType="REAL" property="ef" />
    <result column="ED" jdbcType="REAL" property="ed" />
    <result column="BW" jdbcType="REAL" property="bw" />
    <result column="AT" jdbcType="REAL" property="at" />
    <result column="Saw" jdbcType="REAL" property="saw" />
    <result column="PC" jdbcType="REAL" property="pc" />
    <result column="CF" jdbcType="REAL" property="cf" />
    <result column="ET" jdbcType="REAL" property="et" />
    <result column="date" jdbcType="TIMESTAMP" property="date" />
    <result column="ADDoral_water" jdbcType="REAL" property="addoralWater" />
    <result column="ADDdermal_water" jdbcType="REAL" property="adddermalWater" />
  </resultMap>


  <sql id="Base_Column_List">
    city_code, city_name, Cw, IRw, EF, ED, BW, AT, Saw, PC, CF, ET,date, ADDoral_water, ADDdermal_water
  </sql>

  <!--  获取最新数据的水参数-->
  <select id="getNewWaterDataByName" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from water
    where  city_name = #{cityName,jdbcType=VARCHAR}
  </select>

<!--  //获取全部韩环境点位图数据-->
  <select id="getWaterEnvMapData" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from water GROUP BY city_code  ORDER BY date
  </select>

  <!--获取水所有数据-->
  <select id="getWaterData" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from water  where city_code = #{cityCode,jdbcType=INTEGER}  ORDER BY date DESC LIMIT 1
  </select>
    <!--获取最新的一条数据-->
  <select id="getNewWaterData" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from water where city_code = #{cityCode,jdbcType=INTEGER} ORDER BY date DESC LIMIT 1
  </select>

  <insert id="insert" parameterType="com.endata.springboot.model.Water">
    insert into water (city_code, city_name, Cw, 
      IRw, EF, ED, BW, 
      AT, Saw, PC, CF, 
      ET, date, ADDoral_water, 
      ADDdermal_water)
    values (#{cityCode,jdbcType=INTEGER}, #{cityName,jdbcType=VARCHAR}, #{cw,jdbcType=REAL}, 
      #{irw,jdbcType=REAL}, #{ef,jdbcType=REAL}, #{ed,jdbcType=REAL}, #{bw,jdbcType=REAL}, 
      #{at,jdbcType=REAL}, #{saw,jdbcType=REAL}, #{pc,jdbcType=REAL}, #{cf,jdbcType=REAL}, 
      #{et,jdbcType=REAL}, #{date,jdbcType=TIMESTAMP}, #{addoralWater,jdbcType=REAL},
      #{adddermalWater,jdbcType=REAL})
  </insert>
  <insert id="insertSelective" parameterType="com.endata.springboot.model.Water">
    insert into water
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="cityCode != null">
        city_code,
      </if>
      <if test="cityName != null">
        city_name,
      </if>
      <if test="cw != null">
        Cw,
      </if>
      <if test="irw != null">
        IRw,
      </if>
      <if test="ef != null">
        EF,
      </if>
      <if test="ed != null">
        ED,
      </if>
      <if test="bw != null">
        BW,
      </if>
      <if test="at != null">
        AT,
      </if>
      <if test="saw != null">
        Saw,
      </if>
      <if test="pc != null">
        PC,
      </if>
      <if test="cf != null">
        CF,
      </if>
      <if test="et != null">
        ET,
      </if>
      <if test="date != null">
        date,
      </if>
      <if test="addoralWater != null">
        ADDoral_water,
      </if>
      <if test="adddermalWater != null">
        ADDdermal_water,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="cityCode != null">
        #{cityCode,jdbcType=INTEGER},
      </if>
      <if test="cityName != null">
        #{cityName,jdbcType=VARCHAR},
      </if>
      <if test="cw != null">
        #{cw,jdbcType=REAL},
      </if>
      <if test="irw != null">
        #{irw,jdbcType=REAL},
      </if>
      <if test="ef != null">
        #{ef,jdbcType=REAL},
      </if>
      <if test="ed != null">
        #{ed,jdbcType=REAL},
      </if>
      <if test="bw != null">
        #{bw,jdbcType=REAL},
      </if>
      <if test="at != null">
        #{at,jdbcType=REAL},
      </if>
      <if test="saw != null">
        #{saw,jdbcType=REAL},
      </if>
      <if test="pc != null">
        #{pc,jdbcType=REAL},
      </if>
      <if test="cf != null">
        #{cf,jdbcType=REAL},
      </if>
      <if test="et != null">
        #{et,jdbcType=REAL},
      </if>
      <if test="date != null">
        #{date,jdbcType=TIMESTAMP},
      </if>
      <if test="addoralWater != null">
        #{addoralWater,jdbcType=REAL},
      </if>
      <if test="adddermalWater != null">
        #{adddermalWater,jdbcType=REAL},
      </if>
    </trim>
  </insert>
</mapper>