<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.endata.springboot.mapper.WaterMapper">

  <resultMap id="BaseResultMap" type="com.endata.springboot.model.Water">
    <id column="water_Id" jdbcType="INTEGER" property="waterId" />
    <result column="Cw" jdbcType="FLOAT" property="cw" />
    <result column="IRw" jdbcType="FLOAT" property="irw" />
    <result column="EF" jdbcType="FLOAT" property="ef" />
    <result column="ED" jdbcType="FLOAT" property="ed" />
    <result column="BW" jdbcType="FLOAT" property="bw" />
    <result column="AT" jdbcType="FLOAT" property="at" />
    <result column="Saw" jdbcType="FLOAT" property="saw" />
    <result column="PC" jdbcType="FLOAT" property="pc" />
    <result column="CF" jdbcType="FLOAT" property="cf" />
    <result column="ET" jdbcType="FLOAT" property="et" />
    <result column="ADDoral_water" jdbcType="FLOAT" property="addoralWater" />
    <result column="ADDdermal_water" jdbcType="FLOAT" property="adddermalWater" />
  </resultMap>

  <sql id="Base_Column_List">
    water_Id, Cw, IRw, EF, ED, BW, AT, Saw, PC, CF, ET, ADDoral_water, ADDdermal_water
  </sql>

   <!--获取水所有数据-->
  <select id="getWaterData" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from water
  </select>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from water
    where water_Id = #{waterId,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from water
    where water_Id = #{waterId,jdbcType=INTEGER}
  </delete>

  <!--公式一的数据插入-->
  <insert id="insert_one" parameterType="com.endata.springboot.model.Water">
    insert into water (water_Id, Cw, IRw,
      EF, ED, BW, AT,
      Saw, PC, CF, ET,
      ADDoral_water)
    values (#{waterId,jdbcType=INTEGER}, #{cw,jdbcType=FLOAT}, #{irw,jdbcType=FLOAT},
      #{ef,jdbcType=FLOAT}, #{ed,jdbcType=FLOAT}, #{bw,jdbcType=FLOAT}, #{at,jdbcType=FLOAT},
      #{addoralWater,jdbcType=FLOAT})
  </insert>

  <!--公式一的数据插入-->
  <insert id="insert_two" parameterType="com.endata.springboot.model.Water">
    insert into water (water_Id, Cw,
      EF, ED, BW, AT,
      Saw, PC, CF, ET,
      ADDoral_water, ADDdermal_water)
    values (#{waterId,jdbcType=INTEGER}, #{cw,jdbcType=FLOAT},
      #{ef,jdbcType=FLOAT}, #{ed,jdbcType=FLOAT}, #{bw,jdbcType=FLOAT}, #{at,jdbcType=FLOAT},
      #{saw,jdbcType=FLOAT}, #{pc,jdbcType=FLOAT}, #{cf,jdbcType=FLOAT}, #{et,jdbcType=FLOAT},
      #{addoralWater,jdbcType=FLOAT}, #{adddermalWater,jdbcType=FLOAT})
  </insert>



  <insert id="insert" parameterType="com.endata.springboot.model.Water">
    insert into water (water_Id, Cw, IRw, 
      EF, ED, BW, AT, 
      Saw, PC, CF, ET, 
      ADDoral_water, ADDdermal_water)
    values (#{waterId,jdbcType=INTEGER}, #{cw,jdbcType=FLOAT}, #{irw,jdbcType=FLOAT}, 
      #{ef,jdbcType=FLOAT}, #{ed,jdbcType=FLOAT}, #{bw,jdbcType=FLOAT}, #{at,jdbcType=FLOAT}, 
      #{saw,jdbcType=FLOAT}, #{pc,jdbcType=FLOAT}, #{cf,jdbcType=FLOAT}, #{et,jdbcType=FLOAT}, 
      #{addoralWater,jdbcType=FLOAT}, #{adddermalWater,jdbcType=FLOAT})
  </insert>

  <insert id="insertSelective" parameterType="com.endata.springboot.model.Water">
    insert into water
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="waterId != null">
        water_Id,
      </if>
      <if test="cw != null">
        Cw,
      </if>
      <if test="irw != null">
        IRw,
      </if>
      <if test="ef != null">
        EF,
      </if>
      <if test="ed != null">
        ED,
      </if>
      <if test="bw != null">
        BW,
      </if>
      <if test="at != null">
        AT,
      </if>
      <if test="saw != null">
        Saw,
      </if>
      <if test="pc != null">
        PC,
      </if>
      <if test="cf != null">
        CF,
      </if>
      <if test="et != null">
        ET,
      </if>
      <if test="addoralWater != null">
        ADDoral_water,
      </if>
      <if test="adddermalWater != null">
        ADDdermal_water,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="waterId != null">
        #{waterId,jdbcType=INTEGER},
      </if>
      <if test="cw != null">
        #{cw,jdbcType=FLOAT},
      </if>
      <if test="irw != null">
        #{irw,jdbcType=FLOAT},
      </if>
      <if test="ef != null">
        #{ef,jdbcType=FLOAT},
      </if>
      <if test="ed != null">
        #{ed,jdbcType=FLOAT},
      </if>
      <if test="bw != null">
        #{bw,jdbcType=FLOAT},
      </if>
      <if test="at != null">
        #{at,jdbcType=FLOAT},
      </if>
      <if test="saw != null">
        #{saw,jdbcType=FLOAT},
      </if>
      <if test="pc != null">
        #{pc,jdbcType=FLOAT},
      </if>
      <if test="cf != null">
        #{cf,jdbcType=FLOAT},
      </if>
      <if test="et != null">
        #{et,jdbcType=FLOAT},
      </if>
      <if test="addoralWater != null">
        #{addoralWater,jdbcType=FLOAT},
      </if>
      <if test="adddermalWater != null">
        #{adddermalWater,jdbcType=FLOAT},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.endata.springboot.model.Water">
    update water
    <set>
      <if test="cw != null">
        Cw = #{cw,jdbcType=FLOAT},
      </if>
      <if test="irw != null">
        IRw = #{irw,jdbcType=FLOAT},
      </if>
      <if test="ef != null">
        EF = #{ef,jdbcType=FLOAT},
      </if>
      <if test="ed != null">
        ED = #{ed,jdbcType=FLOAT},
      </if>
      <if test="bw != null">
        BW = #{bw,jdbcType=FLOAT},
      </if>
      <if test="at != null">
        AT = #{at,jdbcType=FLOAT},
      </if>
      <if test="saw != null">
        Saw = #{saw,jdbcType=FLOAT},
      </if>
      <if test="pc != null">
        PC = #{pc,jdbcType=FLOAT},
      </if>
      <if test="cf != null">
        CF = #{cf,jdbcType=FLOAT},
      </if>
      <if test="et != null">
        ET = #{et,jdbcType=FLOAT},
      </if>
      <if test="addoralWater != null">
        ADDoral_water = #{addoralWater,jdbcType=FLOAT},
      </if>
      <if test="adddermalWater != null">
        ADDdermal_water = #{adddermalWater,jdbcType=FLOAT},
      </if>
    </set>
    where water_Id = #{waterId,jdbcType=INTEGER}
  </update>

  <update id="updateByPrimaryKey" parameterType="com.endata.springboot.model.Water">
    update water
    set Cw = #{cw,jdbcType=FLOAT},
      IRw = #{irw,jdbcType=FLOAT},
      EF = #{ef,jdbcType=FLOAT},
      ED = #{ed,jdbcType=FLOAT},
      BW = #{bw,jdbcType=FLOAT},
      AT = #{at,jdbcType=FLOAT},
      Saw = #{saw,jdbcType=FLOAT},
      PC = #{pc,jdbcType=FLOAT},
      CF = #{cf,jdbcType=FLOAT},
      ET = #{et,jdbcType=FLOAT},
      ADDoral_water = #{addoralWater,jdbcType=FLOAT},
      ADDdermal_water = #{adddermalWater,jdbcType=FLOAT}
    where water_Id = #{waterId,jdbcType=INTEGER}
  </update>

</mapper>